ANALYSTS_BASE_URL=
ANALYSTS_API_KEY=
ANALYSTS_MODEL_ID=
RESEARCHERS_BASE_URL=
RESEARCHERS_API_KEY=
RESEARCHERS_MODEL_ID=
RISK_MANAGERS_BASE_URL=
RISK_MANAGERS_API_KEY=
RISK_MANAGERS_MODEL_ID=
TRADERS_BASE_URL=
TRADERS_API_KEY=
TRADERS_MODEL_ID=
INVESTMENT_MANAGER_BASE_URL=
INVESTMENT_MANAGER_API_KEY=
INVESTMENT_MANAGER_MODEL_ID=
